h1 {
    font-weight: bold; 
    background-color: white;
    font-size: 3em;
}

h2 {
    font-size: 2em;

}
 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
 }

 h3 {text-decoration: underline;}

 div {
    background-color: white;
 }

 img {
   height: 220px;
   width: 220px;

 }
 p {
   text-align: left;
   width: 30%;
 }
