h1 {background-color: rgb(87, 160, 87); color: white;}

.pirmas {background-color: lightyellow;}

.antras {background-color: rgb(86, 53, 207);}

.as {background-color: black; color: red;}
.qwe {color: white;}