h1 {background-color: black;
color: white;}

body {background-color: lightgray;}

h2 {
    background-color: blue;
    color: white;
}
div{
    background-color: white;
}

p {color: gray;}

a {color: red;}