<img src="../03-uzduotis/jpg2/1.jpg" width="200" height="200">
    <img src="../03-uzduotis/jpg2/2.jpg" width="200" height="200">
    <img src="../03-uzduotis/jpg2/3.jpg" width="200" height="200">
    <br>
    <img src="../03-uzduotis/jpg2/4.jpg" width="200" height="200">
    <img src="../03-uzduotis/jpg2/5.jpg" width="200" height="200">
    <img src="../03-uzduotis/jpg2/6.jpg" width="200" height="200">
    <br>
    <img src="../03-uzduotis/jpg2/7.jpg" width="200" height="200">