body {

    background: linear-gradient(180deg, #58F6EC 0%, #FBEDDD 64.58%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 0;
}

div {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

button {
    background-color: rgb(255, 170, 128);
    border: none;
    width: 100px;
    height: 40px;
}
