body {
    background-color: lightcoral;
}

div {
    background-color: lightseagreen;
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
}

#pirmas {
    border: 12px solid red;
    box-shadow: 5px 5px 16px black;
}

#antras {
    padding: 5em;
    border-radius: 150px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

#trecias {
    padding-top: 5em;
    padding-bottom: 5em;
    border-bottom: 10px solid green;
    border-right: 15px dashed lightgreen;
}

#ketvirtas {
padding-left: 5em;
padding-right: 5em;
padding-bottom: 1em;
border-top-left-radius: 20px;
border-bottom-right-radius: 50px;
}

#penktas {
    padding-bottom: 5em;
    border-left: 10px dashed mediumpurple;
}