h1 {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

p {background-color: rgba(225,225,225,0.5);
}

.hills {
    background-image: url(hills1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hills2 {
    background-image: url(hills2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hills3 {
    background-image: url(hills3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}