body {background-color: white;}

div {
    background: url(Rectangle\ 1.png);
    
    box-shadow: 0 0 5px;
    border-radius: 2em;
    padding: 1em;
    border-left: auto;
    border-right: auto;
    text-align: left;
    width 100px;
    width 100px;
    border:none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    
}

.ff {
    background-image: url(Rectangle\ 1.png);
    background-position: top;
    background: white;
    box-shadow: 0 0 5px;
    border-radius: 2em;
    padding: 1em;
    border-left: auto;
    border-right: auto;
    text-align: left;
    width 100px;
    width 100px;
    border:none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
}