body {background-color: black;}

h1 {background-color: white;}

h2 {background-color: lightgray;}

div {background-color: white;}

h3 {color: red;}

p {color: blue;}

a {color: white; background-color: red;}

.naujiena {background-color: lightyellow;}